name: Release | Build Binary

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  releaser:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - uses: actions/setup-go@v5
        with:
          go-version: ">=1.20"
          cache: true
      - name: Download syft binary
        run: curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin
      - name: Run syft
        run: syft version
      - name: Goreleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          install-only: true
      - run: go version
      - run: goreleaser -v
      - name: Releaser
        run: make release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
